/* Youtube injections */

.ext-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.applied-html5-video-container {
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
}

.applied-video {
    position: relative !important;
    width: inherit !important;
    height: auto !important;
    left: auto !important;
    right: auto !important;
    top: auto !important;
}

/* Sidepanel */

.sidepanel-ctn {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    z-index: 10;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.15);
}

#sidepanel-icon {
    fill: rgb(238, 238, 238);
    padding: 4px;
    padding-right: 2px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.6));
}

.sidepanel-btn {
    position: absolute;
    left: 0px;
    transition: left 160ms ease-out;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 80px;
    height: 60px;
    width: 40px;
    background-color: var(--yt-spec-raised-background);

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.sidepanel {
    background: var(--yt-spec-raised-background);
    width: 0px;
    height: 100% !important;
    height: max-content;
    z-index: 20;
    transition: width 250ms ease;
}
.resizing {
    transition: none !important;
}

.resize-handle {
    height: 100%;
    width: 10px;
    z-index: 80;
    position: absolute;
    left: -5px;
    cursor: ew-resize;
    background: transparent;
    opacity: 0.5;
}
