#sort-field {
    background-color: transparent;
    transition:
        background-color 0.2s ease,
        transform 0.1s ease;
    border-radius: 8px;
}
#sort-field:hover {
    background-color: var(--fore-bg);
}

.icon-btn {
    all: unset;
    color: var(--fore-bg);
    cursor: pointer; /* indicate clickable */
    transition:
        background-color 0.2s ease,
        transform 0.1s ease;
    background-color: transparent;
    border-radius: 50%;
    padding: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px; /* fixed width for perfect circle */
    height: 16px; /* fixed height for perfect circle */
}
.icon-btn:disabled {
    opacity: 0.5; /* make it semi-transparent */
    cursor: not-allowed; /* show "not-allowed" cursor */
    pointer-events: none; /* optional extra safety */
}

.icon-btn:hover:not(:disabled) {
    opacity: 0.8;
    background-color: var(--fore-bg) !important;
}

.icon-btn:active:not(:disabled) {
    transform: scale(0.95); /* subtle press effect */
    background-color: var(--fore-bg);
}

.text-btn {
    cursor: pointer;
    font-size: 14px;
    transition:
        background-color 0.2s ease,
        transform 0.1s ease;
    border-radius: 8px;
    padding: 4px;
    padding-right: 16px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
}
.text-btn:hover {
    filter: brightness(1.2);
    background-color: var(--fore-bg);
}
.text-btn:active {
    transform: scale(0.95); /* subtle press effect */
}

/* For clickable grid row */
.clickable {
    cursor: pointer;
    transition:
        background-color 0.2s ease,
        transform 0.1s ease;
}
.clickable:hover:not(:disabled) {
    filter: brightness(1.2);
}
.clickable:active:not(:disabled) {
    transform: scale(0.95); /* subtle press effect */
    background-color: var(--fore-bg);
}
/* Key fix to avoid tile move */
.clickable:has(.icon-btn:active) {
    transform: none;
}
/* Key fix to avoid tile move */
.clickable:has(.icon-btn:hover) {
    filter: brightness(1);
}

i {
    line-height: unset !important;
}

.fa-solid {
    width: unset !important;
}

.subtitle {
    color: var(--options-text);
}

.text-bg {
    background-color: var(--text-bg);
}

/* Dark mode */
body.dark-mode {
    background-color: var(--btn-bg); /* dark background */
    color: var(--yt-text); /* default text color */
}

body.dark-mode p {
    color: var(--yt-text); /* paragraph text */
}

body.dark-mode i {
    color: var(--yt-text); /* icons like FontAwesome */
}

/* Text */
body {
    font-family: 'Roboto', Arial, sans-serif;
}

.text-yt {
    color: var(--yt-red);
}

.text-help * {
    line-height: 1.35;
}

/* Modal functionality */
/* Fullscreen overlay */
.popup-overlay {
    position: fixed;
    inset: 0; /* top:0 right:0 bottom:0 left:0 */
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.15s ease;
    opacity: 1;
}

/* Dialog box */
.dialog {
    background: var(--btn-bg);
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    min-width: 100px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/* Hide helper */
.hidden {
    display: none;
}

.title-input {
    font-family: 'Roboto', Arial, sans-serif;
    color: var(--yt-text);
    background-color: var(--btn-bg);
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 6px;
    overflow-wrap: break-word;
    overflow: hidden !important;
    display: flex;
    flex-wrap: wrap;
    resize: none;
}

/* Component-specific styling */
input.component {
    color: var(--yt-text);
    background-color: var(--text-bg);
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 6px;
}
select.component {
    color: var(--yt-text);
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}
button.component {
    color: var(--yt-text);
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

.apply-border {
    border-radius: 6px;
    padding: 6px;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

#search-grid-contents {
    height: 300px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.search-grid-row {
    background-color: var(--btn-bg);
}

.normal-text {
    font-size: 14px;
    line-height: 1.5;
}

/* Modal buttons */
#cancel > i,
#confirm > i {
    color: white;
    opacity: 0.1;
}
#cancel {
    background-color: red;
    border-radius: 4px;
    border: none;
    color: white;
}
#confirm {
    background-color: green;
    border-radius: 4px;
    border: none;
    color: white;
}

.tooltip {
    position: absolute;
    background: var(--fore-bg);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    pointer-events: none;
    z-index: 9999;
    transition:
        opacity 0.2,
        display 0.2;
    opacity: 0;
    display: flex;
    gap: 0.7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hotkey-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* subtle shadow */
    /* font-family: monospace; */
    font-size: 0.9em; /* slightly smaller */
    color: white;
    background-color: transparent;
}

.body-text {
    font-size: 13px;
}
